:root {
    --background1: #0c142d;
    --background2: #332944;
    --banner: darkslateblue;
    --bannerText: var(--cuphead)
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin: 0
}

body {
    background-image: url('bg.png');
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* height: 100vh; */
}