:root {
    --background1: #0c142d;
    --background2: #332944;
    --banner: darkslateblue;
}

body {
    background: var(--background1);
    /* background-image:
        radial-gradient(var(--background2) 19.2%, transparent 19.2%),
        radial-gradient(var(--background2) 19.2%, transparent 19.2%);
    background-position: 0px 0px, 15px 15px;
    background-size: 30px 30px;
    background-color: var(--background1); */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin: 0
}