:root {
    --background1: #0c142d;
    --background2: darkslateblue;
    --banner: darkslateblue;
    --bannerText: var(--cuphead)
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin: 0
}

body {
    background-image: url('bg.png');
    background-size: cover;
    background-color: #0c142d;
    height: 100vh;
}

#tabsDiv {
    width: 100px;
    margin: 0 auto;
}

#tabs .button {
    color: var(--cuphead);
    background-color: var(--background1);
}